[Unit]
Description=Runs program to view and run commands.

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/derek/processControl/processControl_pi.py Pi Living_Room
WorkingDirectory=/home/derek/processControl
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
